.meal-kit-card {
  height: 300px;
  outline: 1px solid #000000;
  width: 32%;
  margin-top: 20px;

  .card-header {
    position: relative;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;

    .plus-button {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 36px;
      height: 36px;
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
      border-radius: 50%;
      border: none;
      background-color: #ffffff;
      color: green;

      &:hover {
        background-color: green;
        color: #ffffff;
        cursor: pointer;
        transition: 300ms;
      }
    }
  }

  .card-footer {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .price-block {
      text-align: center;
    }
  }
}
